body {
    margin: 0;
    padding: 0;
}
#main {
    background-color:#c4c4c4;
    width:96%;
    padding: 2%;
}

#con1, #con2, #con3 {
    border:1px solid black;
    height:400px;
    width:28%;
    margin:1%;
    padding:1%;
    display:inline-block;
}