div {
    background-color:lawngreen;
    width:100%;
    border:1px solid black;
}

.one .two .three {
    background-color:lawngreen;
    width:100%;
    border:1px solid darkgreen;
    display:inline-block;
    float:left;
}

.four {
    width:200px;
    height:60px:
    border:1px solid darkgreen
    padding:3 500px 10 500px;
    background:lawngreen;
}

table, th, tr, td {
    border:1px solid darkgreen;
}

.bcolor {
    background-color:darkgreen;
    border-top:0;
    border:1px solid black;
}