table, td {
    border:1px solid black;
    border-collapse:collapse;
}

td {
    width:100px;
    height:100px;
}

table, tr, td {
    background-color:white;
}

tr:hover td:nth-child(1) {
    background-color:red;
}

tr:hover td:nth-child(2) {
    background-color:orange;
}

tr:hover td:nth-child(3) {
    background-color:yellow;
}

tr:hover td:nth-child(4) {
    background-color:blue;
}

